<h1>Public Page</h1>
<admin-booking-component></admin-booking-component>
<admin-booking-details-component></admin-booking-details-component>
<admin-booking-list-component></admin-booking-list-component>